.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  height: 14px;
  background-color: var(--clr-gray-100);
  border-radius: 34px;
  top: calc(50% - 14px / 2);
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 0;
  top: calc(50% - 22px / 2);
  border-radius: 50%;
  background-color: var(--clr-gray-50);
  border: 1px solid rgba(137, 137, 147, 0.2);

  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--clr-primary-light);
}

input:checked + .slider:before {
  position: absolute;
  /* left: 14px; */
  background-color: var(--clr-primary-dark);

  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}
