.table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 36px;
  margin: 144px auto 80px auto;
  background-color: var(--clr-gray-white);
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 40px;
}

.table-container.rating {
  width: 1026px;
}
.table-container.activePlayers {
  width: 781px;
}
.table-container.history {
  width: 1074px;
}

.table-container.users-table {
  width: 1416px;
}
