.subject-list {
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;

  width: 500px;
  margin-right: 90px;

  background: var(--clr-gray-white);
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 20px;
}

.subject-list > .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subject-list > .container > .subject-container {
  display: flex;
  gap: 12px;
}
.subject-list > .symbol {
  width: 24px;
  height: 24px;
}
.subject-name {
  padding-bottom: 4px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.15px;
}
.subject-percent {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: var(--clr-gray-400);
}
