.msg-container {
  width: 352px;
  padding: 12px;
  background: var(--clr-gray-white);
  box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
  /* transform: rotate(-180deg); */
}
/* .msg-container:not(:first-child) {
  margin-top: 12px;
} */

.msg-container {
  margin-top: 12px;
}
.msg-container.me + .msg-container.me,
.msg-container.other + .msg-container.other {
  margin-top: 8px;
}
.msg-container.me {
  align-self: flex-start;
  border-radius: 16px 16px 16px 0px;
}
.msg-container.other {
  align-self: flex-end;
  border-radius: 16px 16px 0px 16px;
}

.msg-container .msg-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  /* width: -webkit-fill-available; */
  width: 100%;

  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.25px;

  margin-bottom: 8px;
}

.msg-container .subject-name {
  font-weight: 500;
  font-size: 14px;
}

.msg-container .subject-name.x {
  color: var(--clr-primary);
}
.msg-container .subject-name.zero {
  color: var(--clr-secondary);
}
.msg-container .msg-header .time {
  font-weight: 400;
  color: var(--clr-gray-400);
}
