button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
  height: 48px;
  border-radius: 12px;
  border: none;
  font: inherit;
  outline: none;
  cursor: pointer;
}
.btn-primary {
  background-color: var(--clr-primary);
  color: var(--clr-gray-white);
}
.btn-primary:hover {
  background-color: var(--clr-primary-dark);
}
.btn-primary:disabled {
  background-color: var(--clr-primary-light);
}

.btn-secondary {
  background-color: var(--clr-gray-50);
  color: var(--clr-gray-700);
}
.btn-secondary:hover {
  background-color: var(--clr-gray-100);
}
.btn-secondary:disabled {
  background-color: var(--clr-gray-50);
  opacity: 0.3;
}

.btn-icon {
  width: 32px;
  height: 32px;
  padding: 4px;
  background-color: var(--clr-gray-white);
}

.btn-M {
  padding: 12px 20px;
}
.btn-S {
  padding: 12px;
}
