@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --clr-primary: #06c2aa;
  --clr-primary-light: #60c2aa4d;
  --clr-primary-dark: #3ba089;

  --clr-secondary: #e38bac;

  --clr-gray-700: #373745;
  --clr-gray-400: #898993;
  --clr-gray-300: #b1b1b7;
  --clr-gray-100: #dcdcdf;
  --clr-gray-50: #f7f7f7;
  --clr-gray-white: #ffffff;

  --clr-background: #f6f6f6;

  --clr-system-success: #69b849;
  --clr-system-danger: #e93e3e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--clr-gray-700);
  line-height: 24px;
  letter-spacing: 0.24px;
}

body {
  background: var(--clr-background);
  height: 100vh;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.table-headers {
  font-weight: 500;
}

.success {
  color: var(--clr-system-success);
}
.danger {
  color: var(--clr-system-danger);
}
/* Game Page */

.main-container {
  margin-top: 64px;
  padding: 60px 40px;
  display: flex;
}

/* Login Page */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;
  gap: 20px;
  width: 400px;
  background: var(--clr-gray-white);
  box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 16px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 352px;
}

.inputs-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 352px;
}
.input-control .error-message {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.25px;
  color: var(--clr-system-danger);
}

.table-container .header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
/* Rating Page */
.table-rating .row {
  width: 962px;
  height: 48px;

  display: flex;
  align-items: center;
  padding: 4px 0px;
  gap: 16px;
  background: var(--clr-gray-white);
  box-shadow: inset 0px -1px 0px #eeeff5;
}

.table-rating .userName {
  width: 440px;
}
.table-rating .totalGames,
.table-rating .wins,
.table-rating .losses {
  width: 108px;
}
.table-rating .winRate {
  width: 134px;
}

/* History Page */
.table-history {
  width: 1010px;
}
.table-history .players {
  width: 678px;
  align-items: center;
  display: flex;
  gap: 12px;
}

.table-history .players .player {
  display: flex;
  align-items: center;
  width: 214px;
  padding: 4px 8px;
  gap: 8px;
}
.table-history .players .text-bold {
  font-weight: 700;
  color: var(--clr-gray-700);
}
.table-history .date {
  width: 160px;
}
.table-history .time {
  width: 140px;
}

/* ActivePlayers Page */
.switchToggle {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 189px;
  height: 24px;
  background: var(--clr-gray-white);
}
.table-activePlayers .row {
  width: 717px;
  height: 72px;
  padding: 12px 0px;

  display: flex;
  align-items: center;
  /* gap: 16px; */
  gap: 80px;
  background: var(--clr-gray-white);
  box-shadow: inset 0px -1px 0px #eeeff5;
}

.table-activePlayers .player {
  width: 360px;
}
.table-activePlayers .status {
  width: 100px;
}

.table-activePlayers .btn {
  width: 161px;
}

/* Users Page */

.users-table > .header > .btn {
  width: 173px;
}
.users-table > .table > .row {
  display: flex;
  align-items: center;
  padding: 4px 0px;
  gap: 16px;
  width: 1352px;
  height: 64px;
  background: var(--clr-gray-white);
  box-shadow: inset 0px -1px 0px #eeeff5;
}

.users-table > .table > .row > .user {
  width: 440px;
}
.users-table > .table > .row > .age {
  width: 108px;
}
.users-table > .table > .row > .sex {
  width: 46px;
}

.users-table > .table > .row > .status {
  width: 152px;
  padding: 8px;
}
.users-table > .table > .row > .date {
  width: 160px;
}
.users-table > .table > .row > .btn {
  width: 190px;
}

/* History Page */

.table-history {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 8px;
  width: 1010px;
  height: 656px;
}
.table-history .row {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 16px;

  width: 1010px;
  height: 48px;
  background: var(--clr-gray-white);
  box-shadow: inset 0px -1px 0px #eeeff5;
}

.table-history .players {
  display: flex;
  align-items: center;

  gap: 12px;
  width: 678px;
}
.table-history .players .player {
  display: flex;
  align-items: center;
  gap: 8px;

  width: 234px;
}
.table-history .symbol {
  width: 16px;
  height: 16px;
}
.table-history .date {
  width: 160px;
}
.table-history .time {
  width: 140px;
}
